

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: inline-flex;
  /* text-align: left; */
}

form{
  /* text-align: center; */
  /* align-items: center; */
  
}

label{
  display: inline-flex;
  /* text-align: right; */
  width:50%;
  /* padding: auto; */
  /* margin-right: 1%; */
}

select{
  display: inline-block;
  /* text-align: left; */
  /* width:250px; */
}

input{
  display: inline-block;
  /* text-align: left; */
  /* ; */
}

.input-area{
  width:250px;
  /* width: 30%; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

#datePicker{
  display: inline-block;
  /* text-align: left; */
  /* width: 200px; */
}

.drop-wrap {
  /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); */
  /* padding: 0px; */
  /* background: white; */
  /* width: 260px; */
  /* width: auto; */
  /* text-align: left; */
  /* display: inline; */
  /* position: relative; */
  /* margin : 5px 5%; */
}

.dropdown {
  /* border: none; */
  /* outline: none; */
  /* display: inline-block; */
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none; */
  cursor: pointer;
  /* font-size: 16px; */
  /* color: hsl(0, 0%, 56%); */
  /* border-radius: ; */
  /* width: 275px; */
  /* z-index: 2; */
  /* background: transparent; */
}

/* .drop-wrap:after {
  content: "\25bc";
  font-size: 16px;
  color: white;
  background: #13b4ff;
  width: 30px;
  text-align: center;
  line-height: 1em;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none;
} */

option {
  border-bottom: 1px solid #eaeaea;
  border-left: 3px solid white;
  appearance: none;
}

option:hover {
  background-color: white;
  border-left: 3px solid #f3a1a1;
}
