/* .navbar {
    opacity: 0.85;
} */
#homeButton {
    padding-bottom: 5px;
    position: relative;
}
#homeButton::before {
    background: #ffffff;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
}
#homeButton:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

#allMemberButton {
    padding-bottom: 5px;
    position: relative;
}
#allMemberButton::before {
    background: #ffffff;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
}
#allMemberButton:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

#logoutButton {
    padding-bottom: 5px;
    position: relative;
}
#logoutButton::before {
    background: #ffffff;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
}
#logoutButton:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}