.form{
    width: 40%;
    flex-flow: column;
    padding: o.5em 1em;
    margin: 5px auto;
    color: #5d627b;
    background: white;
    border: solid;
    border-width: 0.5px;
    border-color: #5d627b;
    border-radius: 3px;
}

.intext{
    margin: 10px auto;
    display: flex;
}

#pass{
    -webkit-text-security:disc;
}

