.main-btn {
    width: 700px;
    font-style: italic;
    font-size: 40px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 10px 10px 0 0 grey;
    border-radius: 20px;
}

.main-btn:active {
    box-shadow: none;
    position: relative;
    top: 10px;
    left: 10px;
}

/* #main-bara:hover {
width:100px;
height:100px;
background:#0091EA;
animation: anim 1s forwards;
}

@keyframes anim {
0% {
transform: scale(2, 1);
}

100% {
transform: scale(20, 20);
}
} */