.table {
    max-width: 75%;
}
ol {
    list-style-type:none;
}
li {
    font-size: 30px;
    width: 50%;
    border: solid 1px;
    background-color: aqua;
    margin: 20px auto;
    border-radius: 13px ;
    background-color: whitesmoke;
    box-shadow: 10px 10px 0 0 grey;
}
li.names {
    font-size: 30px;
    width: 50%;
    border: solid 1px;
    background-color: aqua;
    margin: 20px auto;
    border-radius: 30px ;
    background-color: whitesmoke;
    box-shadow: 10px 10px 0 0 grey;
}

li.names:active {
    box-shadow: none;
    position: relative;
    top: 10px;
    left: 10px;
}
 li.names:hover {
    background-color: rgba(255, 255, 255, 0.3);
 }
