.table.some-other-class-1{
    width: 30%;
    border-radius: 25%;
}

.table.some-other-class-2{
    width: 20%;
}

.table.some-other-class-3{
    width: 50%;
}

tbody, td, tfoot, th, thead, tr  { 
    background-color:transparent;
    border-style: none;
}

#iconImage {
    height: 40px;
}

#my-btn {
    font-size: 30px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 0 0 grey;
    border-radius: 20px;
}

#my-btn:active {
    box-shadow: none;
    position: relative;
    top: 5px;
    left: 5px;
}

#my-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
 }
