
#inputPassWordLabel{
    display: inline;
  }
  
  #inputPassword5{
    display: inline;
  }
  
  #passwordHelpBlock{
    display: inline;
  }

  #requestButton {
    background-color: white;
    box-shadow: 3px 3px 0 0 grey;
    border-radius: 20px;
  }

  #requestButton:active {
    box-shadow: none;
    position: relative;
    top: 3px;
    left: 3px;
  }

  #requestButton:hover {
    background-color: rgba(255, 255, 255, 0.3);
    animation: anim 1s forwards;
  }
  
  @keyframes anim {
  0% {
    transform:  translate3d(0, 0, 30px)
  }
  
  100% {
    transform:  translate3d(0, 0, 30px)
  }
  } 

#reqImage {
  width: 40%;
}

/* 
#requestButton::before {
    background: #000000;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .3s;
}
#requestButton:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
} */