#resultDiv {
    height: 1000px;
    font-size: 1.5rem;
    text-align: center;
    margin-top: -80px;
    padding-top: 80px;
}

.cracker {
    text-align: center;
    font-size: 50px;
}

#result-btn {
    border-radius: 300px;
}

.resultLabel {
    color: white;
}